<!DOCTYPE html>
<html>
<head>
  <title>Splurty</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

	<header>
		<div class="col-xs-3">
			<div class="circle">
			  <br />
			  You Know
			  <br />
			  You Need To
			  <br />
			  Workout...
			</div>
		</div>
		<div class="col-xs-4 slogan">
			Splurting out unsolicited advice about working out since 2015
		</div>
		<div class="col-xs-5 links">
			<%= link_to 'Contribute', '#' %>
			<%= link_to 'About', '#' %>
		</div>
	</header>
	<hr />

	<br class="clear" />

<div class="container">
	<%= yield %>
</div>


<div class="footer">
	<div class="container">
		<div class="col-xs-4">
			This isn't enough, <%= link_to "I want more!", "#", :class => 'next-quote' %>
		</div>
		
		<div class="footer-blurb">
			<div class="col-xs-4">
				Hacked in Los Angeles by <a href="#">Myo T Kyaw</a><br />
			</div>
			<div class="col-xs-4">
				Build your own <a href="http://thefirehoseproject.com">here</a>.
			</div>
		</div>
	</div>
</div>


</body>
</html>
